.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // Full viewport height

  
    .counter-container {
      text-align: center;
      background-color: #f0f0f0;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      .header {
        margin-bottom: 1rem;
        color: #333;
        font-size: 2rem;
      }
  
      .count {
        font-size: 4rem;
        margin: 1rem 0;
        color: #007bff;
      }
  
      .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem; // Space between buttons
  
        .btn-reset, .btn-up, .btn-down {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.2s;
  
          &:hover {
            transform: translateY(-2px);
          }
  
          &:active {
            transform: translateY(1px);
          }
        }
  
        .btn-up {
          background-color: #28a745;
          color: white;
  
          &:hover {
            background-color: darken(#28a745, 5%);
          }
        }
  
        .btn-down {
          background-color: #dc3545;
          color: white;
  
          &:hover {
            background-color: darken(#dc3545, 5%);
          }
        }
        .btn-reset {
          background-color: #453f40;
          color: white;
  
          &:hover {
            background-color: darken(#453f40, 5%);
          }
        }
      }
    }
  }
